<div class="wrapper fadeInDown">
  <div id="formContent">
    <form>
      <div class="form-group">
        <span tabindex="0" data-toggle="tooltip" title="Passaporte da pessoa que trouxe o veículo">
          <label for="lblPassaporte">Passaporte Cliente</label>
          <input type="number" class="form-control" id="txtPassaporte" placeholder="Passaporte" min="0">
        </span>
      </div>

      <div class="form-group">
        <span tabindex="0" data-toggle="tooltip" title="Valor total sujo">
          <label for="lblValorTotal">Valor Total</label>
          <input type="number" class="form-control" id="txtVlrTotal" placeholder="Total" min="0">
        </span>
      </div>
      <div class="form-group">
        <span tabindex="0" data-toggle="tooltip" title="Valor a ser guardado no Baú">
          <label for="lblValorBau">Valor Baú</label>
          <input type="number" class="form-control" id="txtVlrBau" placeholder="Baú" disabled>
        </span>
      </div>
      <div class="form-group">
        <span tabindex="0" data-toggle="tooltip" title="Valor a ser entregue ao Cliente">
          <label for="lblValorCliente">Valor Cliente</label>
          <input type="number" class="form-control" id="txtVlrCliente" placeholder="Cliente" disabled>
        </span>
      </div>
      <div class="form-group">
        <span tabindex="0" data-toggle="tooltip" title="Sua parte do dinheiro">
          <label for="lblValorMec">Valor Mecânico</label>
          <input type="number" class="form-control" id="txtVlrMec" placeholder="Mecânico" disabled>
        </span>
      </div>
      <div class="form-group">
        <label for="lblParceria">Parceria</label>
        <select class="form-control" id="txtParceria">
          <option value="0">Sem Parceria</option>
          <option value="1">Com Parceria</option>
          <option value="2">Aliança</option>
        </select>
      </div>
      <div class="form-group">
        <button type="button" class="btn btn-success" id="Calcular">Calcular</button>
        <button type="button" class="btn btn-danger" id="Limpar">Limpar</button>
      </div>
    </form>
  </div>
</div>
